body {
	background-image: url(http://vignette1.wikia.nocookie.net/himym/images/d/d0/Marshall-subwaywars2.jpg/revision/latest?cb=20120203142922);
	background-size: 100%;
}

.half {
	float: left;
	width: 50%;
	height: 40px;	
}

#playerScreen {
	width: 50%;
	height: 600px;
	float: left;
}

#computerScreen {
	width: 50%;
	height: 600px;
	float: left;
}

#button {
	height: 200px;
	width: 185px;
	margin: 0 auto;
	padding: 200px 0 0 0;
}

h1 {
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
}

